@{ Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <metaname ="viewport" content="width=device-width" />
    <title>
        Index
    </title>
</head>
<body>
    <div>
        @ViewBag.Greeting, World (from the view)!
        <p>
            We' re going to have an exciting party.
            <br /> (То do: sell it better. Add pictures or something.)
        </р>
        <a asp-action="RsvpForm">Rsvp Now</a>
    </div>
</body>
</html>